@model MyProject.Models.ChamadoModel

@{
    ViewData["Title"] = "Detalhes de Chamados";
}

<div>
    <h4>ChamadoModel</h4>
    <hr />

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Titulo)</td>
                <td>@Html.DisplayFor(model => model.Titulo)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Descricao)</td>
                <td>@Html.DisplayFor(model => model.Descricao)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Prioridade)</td>
                <td>@Html.DisplayFor(model => model.Prioridade)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Categoria)</td>
                <td>@Html.DisplayFor(model => model.Categoria.Nome)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Status)</td>
                <td>@Html.DisplayFor(model => model.Status)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DataAbertura)</td>
                <td>@Html.DisplayFor(model => model.DataAbertura)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DataFechamento)</td>
                <td>@Html.DisplayFor(model => model.DataFechamento)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Usuario)</td>
                <td>@Html.DisplayFor(model => model.Usuario.Nome)</td>
            </tr>
        </tbody>
    </table>

</div>
<div>
    <a asp-controller="Chamado" asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-action btn-edit">✏️ Editar</a>|
    <a asp-controller="Chamado" asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>
</div>

